<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form com Vue 2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Desafio 1 - form com Vue2</h1>
      <form-container>
        <div>
          <form>
            <form-input
              v-for="(field, index) in fieldList"
              :key="index"
              :label="field"
              @save="saveToResults"
            />
          </form>
        </div>
        <template v-slot:result>
          <h2 v-if="showResults()">Dados salvos</h2>

          <form-result>
            <form-field-result
              v-if="value != ''"
              v-for="(value, field, index) in results"
              :key="index"
              :text="field + ': ' + value"
            />
          </form-result>
        </template>
      </form-container>
      <h1>Form com iframe</h1>
      <iframe width="600" height="1000" src="https://dev1-titulares.becompliance.info/?client=6e7d77c6-c5c7-4ed7-a6e2-3bcdb83f7118&form=9749817f-141e-47f4-89af-1d21d3f1324a" title="Formulário de Titulares" frameborder="0"></iframe>
    </div>

    <script>
      //Form Container
      const formContainer = {
        template: `
        <div>
          <slot />
          <slot name='result' />
        </div>
        `,
      };

      //Form
      const formInput = {
        template: `
            <div>
                <label :for="label + '-form'">{{ label }}:</label>
                <br>
                <input type="text" :id="label + '-form'" v-model="inputValue"/>
                <button type="button" @click="save">Salvar</button>
                <button type="button" @click="clear">Limpar</button>
                <br>
                <br>
            </div>
            `,
        props: {
          label: { type: String, required: true },
        },
        data() {
          return {
            inputValue: "",
          };
        },
        computed: {},
        methods: {
          save() {
            this.$emit("save", this.inputValue, this.label);
          },
          clear() {
            this.inputValue = "";
          },
        },
      };

      //Container de resultados
      const formResult = {
        template: `
        <div>
          <slot />
        </div>
        `,
      };

      //Resultados
      const formFieldResult = {
        template: `
            <div>
                <p> {{ text }}</p>
            </div>
        `,
        props: {
          text: { type: [String, Array], required: true },
        },
        data() {
          return {};
        },
        computed: {},
        methods: {},
      };

      //App
      const app = new Vue({
        el: "#app",
        data() {
          return {
            fieldList: ["Nome", "Email", "Profissão"],
            results: {
              Nome: "",
              Email: "",
              Profissão: "",
            },
          };
        },
        methods: {
          saveToResults(value, label) {
            this.results[label] = value;
          },
          showResults() {
            const areFalsy = Object.values(this.results).every(
              (value) => !value
            );

            return !areFalsy;
          },
        },
        components: {
          formContainer,
          formInput,
          formResult,
          formFieldResult,
        },
      });
    </script>
    <!-- <script src="http://dev1-titulares.becompliance.info/becompliance.js" ></script> -->
<!-- <script>
becompliance_form.create_form({
    client : '6e7d77c6-c5c7-4ed7-a6e2-3bcdb83f7118',
    form : '9749817f-141e-47f4-89af-1d21d3f1324a'
})
</script> -->
  </body>
</html>
